#SellItem {
    width: 60%;
    margin: auto;
}

/* Header styles */
#SellItem > h1 {
    color: #333;
    text-align: center;
}

/* Styling for the form sections */
#item_photos form {
    margin-top: 20px;
    display: block;
    width: 100%;
}

#item_img{
    display: none;
}

.choose_item_images{
    display: inline-block;
    padding: 8px 16px;
    background-color: #C0C0C0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#item_photos img{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

section#about_item {
    margin-top: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section#about_item label{
    display: block;
}

section#about_item input[type='text']{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}

section#about_item textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    resize: none;
    font-size: 16px;
    height: 6em;
}

section#item_size, section#item_brand, section#item_condition, section#item_category, section#item_price    {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#sellItemButton{
    margin:auto;
    display:block;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

@media (max-width: 860px) {
    section#about_item {
        margin-top: 0;
    }
}

#delete_image{
    cursor: pointer;
}
i#delete_preview2{
    cursor: pointer;
}